---

---

<nav class="flex items-center justify-center gap-4 py-4">
  <a
    href="/dashboard"
    class="text-base font-medium text-gray-700 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white"
    >Dashboard</a
  >
  <a
    href="/plans"
    class="text-base font-medium text-gray-700 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white"
    >Plany treningowe</a
  >
  <a
    href="/profile"
    class="text-base font-medium text-gray-700 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white"
    >Mój profil</a
  >
</nav>
